//Common Variable Declare
$poppins: 'Poppins', sans-serif;
$noto-sans: 'Noto Sans KR', sans-serif;
$paragraph-color: #676767;
$header-color: #272742;
$black-color: #000000;

//Slider Content style
.slide-content{
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  @media(min-width: 601px){
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.slide-text-content{
  h2{
    font-family: $poppins;
    color: $black-color;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    @media(min-width: 601px){
      font-family: $poppins;
      color: $black-color;
      font-weight: 700;
      font-size: 3rem;
      text-align: left;
    }
  }

  p{
    font-family: $poppins;
    font-weight: normal;
    font-size: 0.9rem;
    color: $header-color;
    text-align: center;
    @media(min-width: 601px){
      font-family: $poppins;
      font-weight: normal;
      font-size: 0.9rem;
      color: $header-color;
      text-align: left;
    }
  }
}

.slider-content-bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  @media(min-width: 601px){
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: row wrap;
  }

  a.slider-btn{
    text-decoration: none;
    background: #000;
    color: #ffffff;
    border-radius: 4px;
    padding: 0.5rem 0.8rem;
  }

  a.slider-link{
    font-family: $noto-sans;
    font-weight: 500;
    font-size: 1rem;
    color: $black-color;
    text-decoration: underline;
    text-decoration-style: solid;
  }
}
/* Slideshow container */

.blog-slider__container {
  max-width: 90%;
  position: relative;
  margin: 15px auto;
  height: 100%;
  overflow: hidden;
  @media(min-width: 601px){
    max-width: 90%;
    position: relative;
    margin: 50px auto;
    height: 420px;
    overflow: hidden;
  }

  .blogSlides img {
    object-fit: cover;
    width: 100%;
    height: 420px;
  }
}


/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.6s ease-in-out;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  background: #FD984D;
  color: #ffffff;

  svg {
    transition: all 0.6s ease-in-out;
    fill: #ffffff;
    height: 18px;
    width: 12px;
  }
}


/* Position the "next button" to the right */
.next {
  right: 0;
}

.prev {
  transform: rotate(180deg);
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  background: darken(#FD984D, 10%);

  svg {
    fill: #715959;
  }
}


/* The dots/bullets/indicators */

.blogSlider__dots {
  margin-top: -25px;
  margin-bottom: 25px;
  text-align: center;

  &--dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #E2E2E2;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
}

.active,
.blogSlider__dots--dot:hover {
  background-color: #FD984D;
  transform: scale(1.4);
}


/* Fading animation */

.fades {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fades {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fades {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}


.main-wrap {
  background-color: #FFF7F7;
  background-image: url("../img/bgmask.svg"), url("../img/cs-bg.svg");
  background-position: left top, left 58%;
  background-size: 30vw, 100%;
  background-repeat: no-repeat, no-repeat;
}

//part one Style
.business-need {
  font-family: $poppins;
  h2 {
    font-family: inherit;
    font-weight: 700;
    color: $black-color;
  }

  p {
    font-family: $poppins;
    color: $paragraph-color;
    font-size: 0.9rem;
  }

  a {
    font-family: $noto-sans;
    font-weight: 500;
    font-size: 1rem;
    color: $black-color;
    text-decoration: underline;
    text-decoration-style: solid;
  }
}


.web-interface-area {
  .container {
    background: #F6DEDE;
    position: relative;
  }
}

.recipes {
  position: absolute;
  right: 30px;
  top: 15px;
  display: none;
  @media (min-width: 601px) {
    position: absolute;
    right: 30px;
    top: 15px;
    display: block;
  }
}


.web-design-area {
  .container {
    position: relative;
    min-height: 500px;
    width: 100%;
    background: url("../img/bgmask-two.png") no-repeat scroll 0 0;
    background-size: cover;
  }

  width: 100%;
}


.web-architecture-area {
  .container {
    background: #F0E2FF;
    position: relative;
  }
}

.info-architecture-box {
  background: #ffffff;
  position: absolute;
  right: auto;
  left: auto;
  bottom: 0;
  width: 90%;
  height: auto;
  padding: 1rem;
  font-family: $poppins;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media(min-width: 601px){
    background: #ffffff;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 400px;
    min-height: 220px;
    padding: 1.8rem;
    font-family: $poppins;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  h3 {
    font-family: inherit;
    color: $header-color;
    font-weight: 700;
    font-size: 1.6rem;
  }

  p {
    font-family: inherit;
    color: $paragraph-color;
    font-size: .9rem;
  }

  a {
    font-family: $noto-sans;
    font-weight: 500;
    font-size: 1rem;
    color: $black-color;
    text-decoration: underline;
    text-decoration-style: solid;
  }
}


//Middle CTA Area

.middle-cta-area {
  position: relative;
  overflow: hidden;
  //background-image: url("../img/cs-bg.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover, 100%;
  width: 100%;
}

.svg-background-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    will-change: transform;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  //img:last-child{
  //  position: absolute;
  //  right: 0;
  //  bottom: 0;
  //  object-fit: contain;
  //  will-change: transform;
  //  object-position: right;
  //  width: 100%;
  //  height: 100%;
  //}
}

.middle-cta-content {
  font-family: $poppins;

  h2 {
    font-weight: 700;
    color: $black-color;
  }

  p {
    font-family: inherit;
    color: $paragraph-color;
    font-size: .9rem;
  }

  a {
    font-family: $noto-sans;
    font-weight: 500;
    font-size: 1.1rem;
    color: $black-color;
    text-decoration: underline;
    text-decoration-style: solid;
  }
}


//Bottom Cta Style
.bottom-cta-area {
  background: #FFF7F7;
}

.bottom-cta {
  font-family: $poppins;

  h2 {
    color: $black-color;
  }

  p {
    font-family: inherit;
    color: $paragraph-color;
  }
}

//Footer Style
.footer-subscription-area {
  font-family: $poppins;

  h2 {
    font-family: inherit;
    font-weight: 700;
  }

  strong {
    font-family: inherit;
    font-weight: 500;
    display: inline-block;
    font-size: 1.2rem;
  }

  p {
    font-family: inherit;
    font-weight: normal;
    color: $paragraph-color;
  }
;
}

.subscription-form {
  form {
    display: inline-flex;
    width: 100%;
    @media (min-width: 601px) {
      display: inline-flex;
      width: 420px;
    }

    input {
      flex-grow: 1;
      padding: 0.5rem 0.75rem;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border: 1px solid $black-color;

      &:hover, &:focus {
        outline: none;
      }
    }

    button {
      padding: 1.2rem;
      background: #000000;
      border: none;
      color: #ffffff;
      border-radius: 4px;
      margin-left: -0.2rem;
      font-family: $noto-sans;
      line-height: 1rem;
    }

  }
}
